body{
    font-family: 'Roboto', sans-serif;
}
.balance-tab{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -2px #888888;
    margin-top: 10px;
    max-width: 32% !important;
}
.balance-tab p,h6{
    font-size: 24px;
}
.withdraw{
    font-size: 24px;
}
.methods, .form-panel{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -2px #888888;
    margin-top: 10px;
}
.withdraw-method{
    background-color: #737373;
    color: #fff !important;
    border-radius: 5px;
    font-size: 15px;
    border: 0px;
    padding: 10px 25px;
    margin-top: 5px !important;
}
.tab-margin{
    margin-right: 2%;
}
.form-group label{
    font-size: 14px;
    color: #1c7430;
}
.form-group label span{
    color: red;
}
.form-group {
    width: 45%;
    margin-left: 2%;
}
.add-btn{
    margin-left: auto;
    margin-right: 6%;
}
.credit-card span{
    font-weight: 300;
    padding-left: 15px;
}
.withdraw p{
    color: #737373;
}
.withdraw-details-box{
    border: 1px solid #737373;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
button.btn.btn-danger, button.btn.btn-success {
    padding: 10px 35px;
}
.table-left{
    padding-left: 45% !important;
}
.bottom-text{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}
.num-icon, .second-icon {
    background-color: #737373;
    color: #fff;
    border-radius: 50%;
    width: 45%;
}
.second-icon{
    opacity: 0.5;
}
.vl {
    border-left: 6px solid #737373;
    height: 450px;
    margin-top: -20px;
    margin-left: 17%;
    opacity: 0.5;
}
.icon-blue {
    background-color: #737373;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    width: 5%;
    font-weight: 500;
}
.horizontal {
    background-color: #737373;
    height: 8px;
    width: 10%;
    margin-top: 3%;
}
.bubbles{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.table-btn{
    padding: 5px 25px !important;
}
.bubble-active{
    background-color: #3776EA !important;
}
@media only screen and (max-width: 1200px) {
    .num-icon {
        width: 70%;
    }
    .vl{
        margin-left: 25%;
    }
}
@media only screen and (max-width: 900px) {
    .num-icon {
        width: 100%;
    }
    .vl{
        margin-left: 30%;
    }
}
@media only screen and (max-width: 800px) {
    .tabs {
        margin-left: auto;
        margin-right: auto;
    }
    .withdraw{
        max-width: 100%;
    }
    .balance-tab{
        margin-right: 0px;
        max-width: 100% !important;
    }
    .withdraw-method{
        width: 100%;
        margin-top: 10px;
    }
    .status{
        display: none;
    }
}
@media (max-width: 576px) {
    .form-group {
        width: 100%;
        margin-left: 0;
    }
}
