body{
    font-family: 'Roboto', sans-serif;
}
.balance-tab{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -2px #888888;
    margin-top: 10px;
    width: 32%;
}
.balance-tab p,h6{
    font-size: 24px !important;
}
.withdraw{
    font-size: 24px;
}
.methods, .form-panel{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 10px -2px #888888;
    margin-top: 10px;
}
.withdraw-method{
    background-color: #737373;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    border: 0px;
    padding: 10px 25px;
}
.tab-margin{
    margin-right: 2%;
}
.form-group label{
    font-size: 14px;
    color: #1c7430;
}
.form-group label span{
    color: red;
}
.form-group {
    width: 45%;
    margin-left: 2%;
}
.add-btn{
    margin-left: auto;
    margin-right: 6%;
}
.credit-card span{
    font-weight: 300;
    padding-left: 15px;
}
.withdraw p{
    color: #737373;
}
.withdraw-details-box{
    border: 1px solid #737373;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
button.btn.btn-danger, button.btn.btn-success {
    margin-top: 10px;
}
.table-left{
    margin-left: auto;
}
.row.table-border {
    border-bottom: 1px solid darkgray;
    padding-top: 10px;
}
.table-border p{
    font-weight: 600;
}
.bottom-text{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}
.num-icon, .second-icon {
    background-color: #737373;
    color: #fff;
    border-radius: 50%;
    width: 45%;
}
.second-icon{
    opacity: 0.5;
}
.vl {
    border-left: 6px solid #737373;
    height: 450px;
    margin-top: -20px;
    margin-left: 17%;
    opacity: 0.5;
}
.icon-blue {
    background-color: #737373;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    width: 5%;
    font-weight: 500;
}
.horizontal {
    background-color: #737373;
    height: 8px;
    width: 10%;
    margin-top: 2% !important;
}
.bubbles{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.table-btn{
    padding: 5px 25px !important;
    margin-top: 10px;
}
.bubble-active{
    background-color: #3776EA !important;
}
.fab{
    font-size: 40px;
    margin-left: 10px;
}
.fas{
    font-size: 20px;
    margin-left: 15px;
}
.checkout-btn{
    color: #fff !important;
}
.table-view{
    width: 90% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.btn-danger, .btn-primary{
    color: #fff !important;
}
.bank-acc-modal{
    max-width: 70%;
    margin: 30px auto;
}
.back-acc-modal{
    border: 0px;
    border-radius: 15px;
}
.methods{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.headline {
    font-weight: 600;
    margin-top: 30px;
    font-size: 26px;
    color: #333;
}
.vegas-background{
    display: none !important;
}








@media only screen and (max-width: 1200px) {
    .num-icon {
        width: 70%;
    }
    .vl{
        margin-left: 25%;
    }
    .horizontal{
        margin-top: 4% !important;
    }
    .second-icon{
        width: 75% !important;
    }
}
@media only screen and (max-width: 900px) {
    .num-icon {
        width: 100%;
    }

    .vl {
        margin-left: 30%;
    }

    .icon-blue {
        width: 10% !important;
    }

    .second-icon {
        width: 100%;
    }

    .horizontal {
        margin-top: 4% !important;
    }

    @media only screen and (max-width: 800px) {
        .tabs {
            margin-left: auto;
            margin-right: auto;
        }

        .withdraw {
            max-width: 100%;
        }

        .withdraw-method {
            width: 100%;
            margin-top: 10px;
        }

        .status, .bubbles-mission {
            display: none;
        }
    }
    @media (max-width: 767px) {
        tab-margin {
            margin-right: 0px;
        }
        .balance-tab{
            width: 100%;
            margin-right: 2%;
            margin-left: 2%;
        }
    }
    @media (max-width: 576px) {
        .form-group {
            width: 100%;
            margin-left: 0;
        }

        .horizontal {
            margin-top: 5% !important;
        }
    }
    @media (max-width: 441px) {
        .icon-blue {
            width: 15% !important;
        }

        .horizontal {
            margin-top: 8% !important;
        }
    }
}
