<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="robots" content="noindex, nofollow">

    <title>Gotem | Landing Page</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{asset('/homepage')}}/images/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="{{asset('/homepage')}}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{asset('/homepage')}}/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- vegas bg -->
    <link href="{{asset('/homepage')}}/css/jquery.vegas.min.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="{{asset('/homepage')}}/css/owl.carousel.css" rel="stylesheet">
    <link href="{{asset('/homepage')}}/css/owl.theme.css" rel="stylesheet">
    <link href="{{asset('/homepage')}}/css/owl.transitions.css" rel="stylesheet">
    <!-- intro animations -->
    <link href="{{asset('/homepage')}}/css/animate.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- lightbox -->
    <link href="{{asset('/homepage')}}/css/lightbox.css" rel="stylesheet">

    <!-- styles for this template -->
    <link href="{{asset('/homepage')}}/css/styles.css" rel="stylesheet">

    <!-- place your extra custom styles in this file -->
    <link href="{{asset('/homepage')}}/css/custom.css" rel="stylesheet">



    {!! NoCaptcha::renderJs() !!}
</head>

<body data-default-background-img="{{asset('/homepage')}}/images/spy.jpg" data-overlay="true" data-overlay-opacity="0.35">

<!-- Outer Container -->
<div id="outer-container">

    <!-- Left Sidebar -->
    <section id="left-sidebar">

        <div class="logo">

            <a href="#intro" class="link-scroll"><!-- <h4>Gotem</h4> --><img src="{{asset('/homepage')}}/images/go1-copy.png"></a>
        </div><!-- .logo -->

        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="fa fa-th"></span></div>

        <ul id="main-menu">
            <li id="menu-item-text" class="menu-item scroll"><a href="#text">Introduction</a></li>
            <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">How to Use</a></li>
            <li id="menu-item-grid" class="menu-item scroll"><a href="#grid">Ecosystem</a></li>
            <li id="menu-item-featured" class="menu-item scroll"><a href="#featured">Team</a></li>
            <li id="menu-item-tabs" class="menu-item scroll"><a href="#tabs">Media</a></li>

        </ul><!-- #main-menu -->

    </section><!-- #left-sidebar -->
    <!-- end: Left Sidebar -->

    <style>

        .ttt1{
            /* font-size: 52px !important; */
        }

        @media (max-width: 768px){
            .ttt{
                font-size: 35px;
            }
        }
    </style>
    <section id="main-content" class="clearfix">

        <article id="intro" class="section-wrapper clearfix" data-custom-background-img="{{asset('/homepage')}}/images/spy.jpg">
            @guest
                <div class="section-set">
                    <br>
                    <br>

                    <div class="section-set-1"><span><a href="{{url('/register')}}">User Sign Up</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><a href="{{url('/login')}}">Login</a></span></div>

                    <p style="text-decoration:none; "><a href="{{url('/freelancer/register')}}">Investigators Apply Here</a></p>
                </div>
            @endguest

            @auth
                @if (auth()->user()->user_type == \App\User::USER_FREELANCER)
                    <?php $url = 'freelancer.dashboard'?>
                @else
                    <?php $url = 'employer.dashboard'?>
                @endif
                <div class="section-set">
                    <br>
                    <br>

                    <div class="section-set-1"><span><a href="{{route($url)}}">Dashboard</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>

            @endauth
            <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
                <div class="col-sm-10 col-md-9 pull-right">

                    <section class="feature-text">
                        <h1 class="ttt1">Revolutionizing The Way <br> You Gather Facts</h1>
                        <p style="font-size: 14px;">Crowdsourcing for Humanitarianism and Private <br>Investigations</p>
                        <p><a href="#text" class="link-scroll btn btn-outline-inverse btn-lg">Find Out More</a></p>
                    </section>

                </div><!-- .col-sm-10 -->
            </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="text" class="section-wrapper clearfix" data-custom-background-img="{{asset('/homepage')}}/images/darkcoat.jpg" style="object-fit: cover !important;">
            <div class="section-set">
                <br>
                <br>


                <div class="content-wrapper clearfix">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <style>
                        @media (max-width:768px){
                            .hssm{
                                margin-top:25px;
                            }
                        }
                    </style>

                    <div class="col-sm-10 col-md-9 pull-right">


                        <h3 style="text-align: left;">Join the Ecosystem </h3> <p style="font-size: 16px; font-weight: 100; font-style: normal; text-align: center;">Be a Part of Something Bigger Than Yourself</p>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uX8hxI-nrI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                        <br>
                        <center><a href="#text" class="link-scroll btn btn-outline-inverse btn-lg mt-2 hssm">Learn More</a></center>

                        <div class="content-to-populate-in-modal" id="modal-content-1">

                        </div><!-- #modal-content-1 -->

                    </div><!-- .col-sm-10 -->
                </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="{{url('/homepage')}}/images/spy.jpg">
            <br>
            <br>

            <br><br>
            <div class="carousel-text-content">
                <center> <i class="fa fa-balance-scale" style="font-size:70px;"></i>
                    <h4 class="title">The Power of Crowdsourcing</h4></center>
                <div class="row">
                    <div class="col-md-8">

                        <img src="{{asset('/homepage')}}/images/got.png" alt="" width="75%" style="float: right;">
                    </div>
                    <div class="col-md-4">
                        <p >A platform utlizing Blockchain ERC-20, ERC-721 tokens, and Smart Contract Technology to ensure results and transparency</p>

                        <p><a href="#" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm" style=" border-radius: 5px;">Learn More</a></p>
                    </div>
                </div>

            </div>
            <br><br>

            <div class="carousel-text-content">
                <center> <i class="fa fa-globe" style="font-size:70px;"></i>
                    <h4 class="title">Growing Global Demand</h4></center>
                <div class="row">
                    <div class="col-md-8">

                        <img src="{{asset('/homepage')}}/images/worldmap.png" alt="" width="75%" style="float: right;">
                    </div>
                    <div class="col-md-4">
                        <p >Thousands of cases from all parts of the world.</p>

                        <p><a href="#" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm" style=" border-radius: 5px;">Learn More</a></p>
                    </div>
                </div>

            </div>

            <br><br>
            <div class="carousel-text-content">
                <center>  <i class="fa fa-users" style="font-size:70px;"></i>
                    <h4 class="title">Platform Investigators</h4>

                    <p>Explore some detectives within the Gotem platform</p>
                </center>


                <style>
                    .img1{
                        border-radius: 150px;
                        width: 50% !important;
                    }
                    @media (max-width: 768px){
                        .img1{
                            width: 40% !important;
                            border-radius: 250px;
                        }
                    }
                </style>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        <div style="border:1px solid #fff; border-radius: 5px; padding: 10px;">
                            <center>


                                <div class="owl-carousel owl-theme">
                                    <div class="item-active">

                                        <img class="img1" src="{{asset('/homepage')}}/images/client/1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/3.jpg" alt="" >
                                    </div>
                                <!--                        <div class="item">
                         <img class="img1" src="{{asset('/homepage')}}/images/client/4.jpg" alt="">
                       </div> -->
                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/5.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/6.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/7.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/8.jpg" alt="">
                                    </div>

                                <!--                        <div class="item">
                         <img class="img1" src="{{asset('/homepage')}}/images/client/.jpg" alt="">
                       </div> -->


                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/10.jpg" alt="">
                                    </div>


                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/11.jpg" alt="">
                                    </div>


                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/12.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/13.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/14.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/15.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/16.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/17.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/18.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/19.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/20.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/21.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/22.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/23.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/24.jpg" alt="">
                                    </div>

                                <!-- <div class="item">
                         <img class="img1" src="{{asset('/homepage')}}/images/client/25.jpg" alt="">
                       </div> -->

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/26.jpg" alt="">
                                    </div>

                                    <div class="item">
                                        <img class="img1" src="{{asset('/homepage')}}/images/client/27.jpg" alt="">
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <center> <p><a href="#" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm" style="border-radius: 5px;">Learn More</a></p> </center>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>

        </article><!-- .section-wrapper -->
        <br><br>

        <article id="grid" class="section-wrapper clearfix" data-custom-background-img="{{asset('/homepage')}}/images/darkcoat.jpg">
            <div class="content-wrapper clearfix">
                <div class="col-sm-11 col-md-10 pull-right">

                    <h1 class="section-title">Decentralized Ecosystem</h1>

                    <!-- grid -->
                    <section class="grid row clearfix clearfix-for-2cols">

                        <!-- grid item -->
                        <div class="grid-item col-md-6">
                            <div class="item-content clearfix">
                                <span class="icon fa fa-area-chart"></span>
                                <div class="text-content">
                                    <h5>Decentralized</h5>
                                    <p>Participate and operate relay nodes by holding our native token.</p>
                                </div>
                            </div><!-- end: .item-content -->
                        </div><!-- end: .grid-item -->

                        <!-- grid item -->
                        <div class="grid-item col-md-6">
                            <div class="item-content clearfix">
                                <span class="icon fa fa-globe"></span>
                                <div class="text-content">
                                    <h5>Crowdfunding</h5>
                                    <p>Eliminate borders and raise funds for your mission using Crypto.</p>
                                </div>
                            </div><!-- end: .item-content -->
                        </div><!-- end: .grid-item -->

                        <!-- grid item -->
                        <div class="grid-item col-md-6">
                            <div class="item-content clearfix">
                                <span class="icon fa fa-certificate"></span>
                                <div class="text-content">
                                    <h5>Crowdsourcing</h5>
                                    <p>Source aid from all parts of the world to participate in your mission.</p>
                                </div>
                            </div><!-- end: .item-content -->
                        </div><!-- end: .grid-item -->

                        <!-- grid item -->
                        <div class="grid-item col-md-6">
                            <div class="item-content clearfix">
                                <span class="icon fa fa-cloud"></span>
                                <div class="text-content">
                                    <h5>Smart Contracts</h5>
                                    <p>Execute agreements and fund escrows over the Ethereum Blockchain.</p>
                                </div>
                                <br>
                                <p><a href="#" onclick="populate_and_open_modal(event, 'modal-content-2');" class="btn btn-outline-inverse btn-sm" style=" margin-top: -10px; border-radius: 5px; float: right;">Learn More</a></p>
                                <br>
                                <br>
                                <br>
                                <!--<h4 class="section-title" style="text-align: right;">Decentralized Ecosystem</h4>-->
                            </div><!-- end: .item-content -->
                        </div><!-- end: .grid-item -->

                    </section><!-- end: grid -->

                </div><!-- .col-sm-11 -->
            </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="featured" class="section-wrapper clearfix" data-custom-background-img="{{url('/homepage')}}/images/spy.jpg">
            <div class="content-wrapper clearfix">
                <br><br>
                <h1 class="hasan">Core Team</h1>
                <br>


                <!-- Wrapper for slides -->
                <div class="owl-carousel owl-theme">
                    <div class="item-active">
                        <center>
                            <img src="{{asset('/homepage')}}/images/t1.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Tawei Chang</p>
                            <p>Founder / CEO</p>
                        </center>
                    </div>
                    <div class="item">
                        <center>
                            <img src="{{asset('/homepage')}}/images/t2.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Karma Bhutia</p>
                            <p>Co-Founder / CSO</p>
                        </center>
                    </div>

                    <div class="item"><center>
                            <img src="{{asset('/homepage')}}/images/justin.png" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Justin Bagan</p>
                            <p>Marketing Content Writer</p>
                        </center>
                    </div>
                    <div class="item"><center>
                            <img src="{{asset('/homepage')}}/images/ahmed.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>AHMED SHAHZAIB</p>
                            <p>Lead Product Developer</p>
                        </center>
                    </div>
                    <div class="item"><center>
                            <img src="{{asset('/homepage')}}/images/t5.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Tim Sun</p>
                            <p>Backend Software Engineer</p>
                        </center>
                    </div>
                    <div class="item"><center>
                            <img src="{{asset('/homepage')}}/images/t6.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Myriam Joire</p>
                            <p>Advisory / Media</p>
                        </center>
                    </div>
                    <div class="item"><center>
                            <img src="{{asset('/homepage')}}/images/t7.jpg" alt="" style="width: 150px; height: 150px; border-radius: 150px; ">

                            <p>Rafiq Al Shabaz</p>
                            <p>Attorney / Advisory</p>
                        </center>
                    </div>
                </div>

                <!-- Controls -->


            </div><!-- #about-carousel -->

            <!-- .content-wrapper -->

        </article>



        <article id="tabs" class="section-wrapper clearfix" data-custom-background-img="{{asset('/homepage')}}/images/darkcoat.jpg">
            <div class="content-wrapper clearfix">
                <h1 class="hasan">Media</h1>
                <br><br>
                <div id="media-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">



                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <img src="{{asset('/homepage')}}/images/m1.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m2.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m3.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m4.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m5.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m6.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m7.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m8.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m9.png" alt="">
                        </div><!-- .item -->

                        <div class="item">
                            <img src="{{asset('/homepage')}}/images/m10.png" alt="">
                        </div><!-- .item -->



                    </div><!-- .carousel-inner -->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#media-carousel" data-slide="prev"></a>
                    <a class="right carousel-control" href="#media-carousel" data-slide="next"></a>

                </div><!-- #about-carousel -->

            </div>
        </article>
        <!-- .content-wrapper -->


        <article id="contact" class="section-wrapper clearfix" data-custom-background-img="{{asset('/homepage')}}/images/spy.jpg">
            <div class="content-wrapper clearfix">

                <h1 class="section-title">Contact</h1>

                <!-- CONTACT DETAILS -->
                <div class="contact-details col-sm-5 col-md-3">

                </div>
                <!-- END: CONTACT DETAILS -->

                <!-- CONTACT FORM -->
                <div class="col-sm-7 col-md-9">

                    <form class="form-style validate-form clearfix" action="https://stephenmuscat.com/twilli_air/1.3.0/assets/php/mail.php" method="POST" role="form">

                        <!-- form left col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Full Name" name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                            </div>

                            {!! NoCaptcha::display() !!}
                        </div><!-- end: form left col -->

                        <!-- form right col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea placeholder="Message..." class="form-control validate-field required" name="message"></textarea>
                            </div>

                            <div class="form-group form-general-error-container"></div>
                        </div><!-- end: form right col -->

                    </form>
                </div><!-- end: CONTACT FORM -->

            </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

    </section><!-- #main-content -->

    <!-- Footer -->
    <section id="footer">

        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="fa fa-chevron-up"></span></div>
        <style>
            .sizee{
                width:80%;
            }
            .sizee1{
                width:100%;
            }
            .footer-back{
                background-color:silver;
                padding:5px;
                border-radius:50px;

            }
            @media (max-width: 768px){
                .sizee{
                    width: 50%;
                    margin-top:3px;
                }
                .sizee1{
                    width:70%;
                    margin-top:3px;
                }
                .footer-back{
                    background-color:silver;
                    padding:3px;
                    border-radius:50px;

                }
            }
        </style>

        <ul class="social-icons">
            <div class="footer-back">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-3"><a href="https://t.me/joinchat/S9QSMT40FCoVyNnG"><img src="{{asset('/homepage')}}/images/a1.png" class="sizee"></a></div>
                    <div class="col-lg-3 col-md-3 col-xs-3"><a href="https://twitter.com/iogotem"><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-1/1024/twitter-512.png" class="sizee"></a></div>
                    <div class="col-lg-3 col-md-3 col-xs-3"><a href="https://www.reddit.com/user/GotemGTX"><img src="{{asset('/homepage')}}/images/a3.png" class="sizee"></a></div>
                    <div class="col-lg-3 col-md-3 col-xs-3"><a href="https://medium.com/@GotemGTX"><img src="{{asset('/homepage')}}/images/a4.png" class="sizee1"></a></div>
                </div>
            </div>
        </ul>

        <!-- copyright text -->

        <div class="footer-text-line">Copyright &copy; 2021 Gotem.io  All Rights Reserved. <br>
            <!--A Taiwan (ROC) Based Technology Company-->
        </div>
        <br>

        <style>
            .skiptranslate{
                display: contents;
            }
        </style>

        <div id="google_translate_element"></div>
    </section>
    <!-- end: Footer -->

</div><!-- #outer-container -->
<!-- end: Outer Container -->

<!-- Modal -->
<!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
<div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-body clearfix">
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- Javascripts
================================================== -->

<!-- Jquery and Bootstrap JS -->
<script src="{{asset('/homepage')}}/js/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="{{asset('/homepage')}}/js/bootstrap.min.js"></script>

<!-- Easing - for transitions and effects -->
<script src="{{asset('/homepage')}}/js/jquery.easing.1.3.js"></script>

<!-- background image strech script -->
<script src="{{asset('/homepage')}}/js/jquery.vegas.min.js"></script>

<!-- detect mobile browsers -->
<script src="{{asset('/homepage')}}/js/detectmobilebrowser.js"></script>

<!-- detect scrolling -->
<script src="{{asset('/homepage')}}/js/jquery.scrollstop.min.js"></script>

<!-- owl carousel js -->
<script src="{{asset('/homepage')}}/js/owl.carousel.min.js"></script>

<!-- lightbox js -->
<script src="{{asset('/homepage')}}/js/lightbox.min.js"></script>

<!-- intro animations -->
<script src="{{asset('/homepage')}}/js/wow.min.js"></script>

<!-- responsive videos -->
<script src="{{asset('/homepage')}}/js/jquery.fitvids.js"></script>

<!-- Custom functions for this theme -->
<script src="{{asset('/homepage')}}/js/functions.min.js"></script>
<script src="{{asset('/homepage')}}/js/initialise-functions.js"></script>

<!-- IE9 form fields placeholder fix -->
<!--[if lt IE 9]>
<script>contact_form_IE9_placeholder_fix();</script>
<![endif]-->

<!-- GA -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48808360-1', 'stephenmuscat.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel();
    });
</script>
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items:3 ,
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:1000,
        autoplayHoverPause:true
    });

</script>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
